@font-face {
    font-family: "Helvetica Rounded Black";
    src: url('fonts/HelveticaRounded-Black.ttf');
}

@font-face {
    font-family: "Helvetica Rounded Bold";
    src: url('fonts/HelveticaRounded-Bold.ttf');
}

img {
	width: 100%;
}

html, body {
	margin: 0;
	padding: 0;
}
#home {
	width: 40%;
	height: 20%;
/*	height: 30px;*/
	object-fit: contain;
	object-fit: cover;
	border: 2px solid black;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	top:0;
	margin: 0 auto;
	background-color: white;
	z-index: 5;
	margin-bottom: 10px;
}

#pages {
	width: 80%;
	height: 30%;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: pink;
	position: relative;
	z-index: 5;
	text-align: center;
	padding-top: 10px;
	top: 0;
/*	display: inline-block;*/
}

#sticker {
	width: 25%;
	font-size: 100%;
/*	height: 30px;*/
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	padding: 2px;
	margin: 0 auto;
/*	top: 35px;*/
	position: relative;
	text-align: center;
/*	line-height: 30px;*/
	color: black;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
	text-decoration: none;
	padding: 10px;
	z-index: 5;
		display: inline-block;
}

#seeall {
	width: 25%;
/*	height: 30px;*/
	font-size: 100%;
	background-color: #d3d3d3;
	border: 2px solid black;
	border-radius: 5px;
	padding: 2px;
	margin: 0 auto;
/*	top: 70px;*/
	position: relative;
	text-align: center;
/*	line-height: 30px;*/
	color: black;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
	text-decoration: none;
	padding: 10px;
	z-index: 5;
	display: inline-block;
}

#sticker:hover, #seeall:hover, #home:hover {
	background-color: black;
	color: white;
	z-index: 5;
}

/*---------------------*/

#holder {
	height: 100%;
	width: 80%;
	background-color: ivory;
	margin: 0 auto;
/*	margin-top: 10px;*/
	position: relative;
	z-index: 0;
	overflow: hidden
}
.sticker {
	top: 10px;
	width: 90%;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: white;
	border: 2px solid black;
	padding: 2px;
	position: relative;
	line-height: 20px;
	padding-left: 20px;
	z-index: 0;
}

.left {
	position: absolute;
	width: 30%;
	height: 85%;
	left: 5%;
/*	object-fit: contain;
	object-fit: cover;*/
	z-index: 5;
	background-color: tan;
	display: inline-block;
	border: 1px pink solid;
	margin-top: 10px;
}

.left img {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: contain;
	bottom: 0;
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.right {
	position: absolute;
	width: 55%;
	height: 89%;
	right: 5%;
	background-color: white;
	padding-left: 10px;
	margin: 10px;
	display: inline-block;
	z-index: 6;
	color: black;
	font-size: 12px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
	text-decoration: none;
	line-height: 10px;
}

.line {
	margin-top: 10px;
	width: 100%;
	height: 2px;
	background-color: black;
	display: inline-block;
	position: relative;
}

#type {
	width: 100%;
	height: 20px;
/*	background-color: yellow;*/
	font-family: "Helvetica Rounded Bold";
	right: 45%;
	z-index: 10;
	position: fixed;
	transform: rotate(-90deg);
	text-align: center;
	top: 50%;
	font-size: 30px;
	line-height: 25px;
}

#sort, #filter {
	font-family: "Helvetica Rounded Bold";
	text-align: right;
	font-size: 16px;
	background-color: pink;
	width: 20%;
}

#color {
	width: 100%;
	height: 20px;
/*	background-color: yellow;*/
	font-family: "Helvetica Rounded Bold";
	left: 45%;
	z-index: 10;
	position: fixed;
	transform: rotate(90deg);
	text-align: center;
	top: 50%;
	font-size: 30px;
}

