@font-face {
    font-family: "Helvetica Rounded Black";
    src: url('fonts/HelveticaRounded-Black.ttf');
}

@font-face {
    font-family: "Helvetica Rounded Bold";
    src: url('fonts/HelveticaRounded-Bold.ttf');
}

#logo {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px;
}

#logo img {
	width: 100%;
}

#tags {
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
	font-size: 18px;
	width: 50%;
	height: 200px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	position: relative;
/*	background-color: blue;*/
}

#sticker, #seeall {
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
	font-size: 16px;
	height: 15%;
	line-height: 33px;
	padding: 5px;
	margin: 0 auto;
	margin-top: 20px;
	border: 2px solid black;
	border-radius: 5px;
	margin: 5px;
	position: relative;
	top: 30px;
	display: inline-block;
	text-decoration: none;
	color: black;
}

#sticker:hover, #seeall:hover {
	background-color: #ff033e;
	color: white;
}

#sticker:active, #seeall:active {
	background-color: #00FF00;
	color: navy;
}