@font-face {
    font-family: "Helvetica Rounded Black";
    src: url('fonts/HelveticaRounded-Black.ttf');
}

@font-face {
    font-family: "Helvetica Rounded Bold";
    src: url('fonts/HelveticaRounded-Bold.ttf');
}

img {
	width: 100%;
}

#home {
	width: 40%;
/*	height: 30px;*/
	object-fit: contain;
	object-fit: cover;
	border: 2px solid black;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	top:0;
	margin: 0 auto;
	background-color: white;
	z-index: 5;
}

#pages {
	width: 50%;
	height: 30%;
	margin: 0 auto;
/*	background-color: yellow;*/
	position: relative;
	z-index: 5;
	text-align: center;
	padding-top: 10px;
/*	display: inline-block;*/
}

#sticker {
	width: 25%;
	font-size: 100%;
/*	height: 30px;*/
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	padding: 2px;
	margin: 0 auto;
/*	top: 35px;*/
	position: relative;
	text-align: center;
/*	line-height: 30px;*/
	color: black;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
	text-decoration: none;
	padding: 10px;
	z-index: 5;
		display: inline-block;
}

#seeall {
	width: 25%;
/*	height: 30px;*/
	font-size: 100%;
	background-color: #d3d3d3;
	border: 2px solid black;
	border-radius: 5px;
	padding: 2px;
	margin: 0 auto;
/*	top: 70px;*/
	position: relative;
	text-align: center;
/*	line-height: 30px;*/
	color: black;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
	text-decoration: none;
	padding: 10px;
	z-index: 5;
	display: inline-block;
}

#sticker:hover, #seeall:hover, #home:hover {
	background-color: black;
	color: white;
	z-index: 5;
}

/*
#holder {
	width: 70%;
	height: 300px;
	margin: 0 auto;
	background-color: pink;
	border: 2px solid black;
	padding: 2px;
	position: relative;
	line-height: 20px;
	color: red;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
	text-decoration: none;
	padding-left: 10px;
	z-index: 0;
}*/
#holder {
	height: 100%;
	width: 80%;
	background-color: ivory;
	margin: 0 auto;
	position: relative;
	z-index: 0;
}
.sticker {
	top: 10px;
	width: 90%;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: white;
	border: 2px solid black;
	padding: 2px;
	position: relative;
	line-height: 20px;
	color: red;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
	text-decoration: none;
	padding-left: 10px;
	z-index: 0;
}

.left {
	position: absolute;
	width: 20%;
/*	height: 20%;*/
	left: 5%;
/*	object-fit: contain;
	object-fit: cover;*/
	z-index: 5;
	background-color: orange;
}

.right {
	position: absolute;
	width: 70%;
	height: 100%;
	right: 5%;
	background-color: yellow;
	display: inline-block;
	z-index: 6;
}



