.go {
    width: 50px;
    height: 50px;
    background-color: tan;
    display: inline-block;
    margin: 0px;
    vertical-align: top;
    line-height: 50px;
    text-align: center;
    color: white;
}