html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	text-align: center;
}

#page {
	font-family: "Helvetica", "sans-serif";
	font-size: 24px;
	width: 50%;
	height: 100%;
	color: black;
	background-color: ivory;
	margin: 0 auto;
	top: 0;
	text-align: left;
	padding: 5%;
}

p {
	text-align: left;
}


#talk {
	text-align: left;
	font-size: 24px;
	font-weight: normal;
	padding-left: 50px;
	padding-right: 15%;
}
/*
#talk2 {
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	padding-left: 100px;
	padding-right: 15%;
	display: inline-block;
	position: relative;
}*/
/*
#talk3 {
	text-align: left;
	font-size: 19px;
	font-weight: bold;
	padding-left: 50px;
	padding-right: 15%;
	line-height: 0;
}*/