html, body {
	margin: 0;
	padding: 0;
	overflow: scroll;
	background-color: lightgray;
	position: relative;
}

#header {
	width: 80%;
	height: 20%;
	margin-left: auto;
	margin-right: auto;
/*	background-color: lightblue;
*/	position: relative;
	color: 25225a;
}

#title {
	font-size: 42px;
	letter-spacing: 7;
	font-weight: bolder;
	font-family: Helvetica;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 25;
/*  transform: translateY(-60%) rotate(-10deg);
*/}

#title2 {
	font-size: 65px;
	font-weight: bolder;
	font-family: Helvetica;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 10;
/*  transform: translateY(-60%) rotate(-10deg);
*/}

#tabs {
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: blue;*/
	font-size: 14px;
	font-family: Helvetica;
	font-weight: bolder;
	text-align: center;
	position: relative;
	line-height: 30px;
	text-decoration: none;
	color: 25225a;
	display: inline-block;

}

#details {
	width: 50%;
	height: 100%;
	position: relative;
	bottom: 0;
	padding-bottom: 202px;
}

#event {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: bolder;
    text-align: left;
    position: absolute;
    margin-left: 150px;
/*    padding-top: 20px;
*/    margin-right: auto;
    bottom: 0;
}

hr3 {
	font-size: 30px;
	font-family: arial;
	font-weight: bolder;
	text-align: left;
	position: relative;
	left: 0;
	color: black;
/*	margin-top: 20px;*/
	text-decoration: underline;
	line-height: 30px;
	padding-top: 20px;
}

#deets {
	font-size: 20px;
	font-family: Helvetica;
	text-align: left;
	position: relative;
	left: 0;
	margin-left: 20px;
	line-height: 25px;
	margin-top: 20px;
	height: auto;
	bottom: 0;
}

#ft {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    overflow: scroll;
    margin-right: -475px;
    /* margin-top: 183px; */
}

.line {
	height: 1px;
	background: purple;
	border-bottom: 1px solid #313030;
}

#words {
	width: 100%;
	height: 100%;
	background-color: white;
	position: relative;
	right: 0;
	bottom: 0;
	display: inline-block;
}

#time {
	font-size: 20px;
    font-family: Helvetica;
    font-weight: bolder;
    text-align: left;
    position: absolute;
    left: 149px;
    bottom: 0;
    padding: 20px;
    background-color: fed600;
    width: 40%;
    height: 60%;
    z-index: 0;
    overflow: scroll;
    display: inline-block;
    padding-top: 20px;
    padding-right: 200px;
    margin-left: auto;
    margin-right: 20px;
}

hr1 {
	font-size: 30px;
	font-family: Helvetica;
	font-weight: bolder;
	text-align: left;
	position: relative;
	left: 0;
	color: black;
}

hr2 {
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bolder;
	text-align: left;
	position: relative;
	left: 0;
	color: black;
}

p {
	font-size: 16px;
	font-family: Helvetica;
	text-align: left;
	position: relative;
	left: 0;
	color: black;
}

#air {
	margin: 20px;
	position: relative;
	display: inline-block;
}

#gold {
	margin: 20px;
	position: relative;
	display: inline-block;
}

#world {
	margin: 20px;
	position: relative;
	display: inline-block;
}

#fetch {
	margin: 20px;
	position: relative;
	display: inline-block;
}

#spike {
	margin: 20px;
	position: relative;
	display: inline-block;
}


