html, body {
	margin: 0;
	padding: 0;
	overflow: scroll;
	background-color: lightgray;
	position: relative;
}

#header {
	width: 80%;
	height: 20%;
	margin-left: auto;
	margin-right: auto;
/*	background-color: lightblue;
*/	position: relative;
	color: purple;
}

#title {
	font-size: 36px;
	font-weight: bolder;
	font-family: Helvetica;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 25;
/*  transform: translateY(-60%) rotate(-10deg);
*/}

#title2 {
	font-size: 48px;
	font-weight: bolder;
	font-family: Helvetica;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 20;
/*  transform: translateY(-60%) rotate(-10deg);
*/}

#tabs {
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: blue;*/
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bolder;
	text-align: center;
	position: relative;
	line-height: 52px;
	text-decoration: underline;
	color: purple;

}

#details {
	width: 50%;
	height: 100%;
	position: relative;
	bottom: 0;
}

#event {
	width: 80%;
	height: 100%;
	background-color: pink;
	font-size: 30px;
	font-family: Helvetica;
	font-weight: bolder;
	text-align: left;
	position: relative;
	margin-left: auto;
	padding-top: 20px;
/*	margin-right: auto;
*/
}

hr3 {
	font-size: 30px;
	font-family: arial;
	font-weight: bolder;
	text-align: left;
	position: relative;
	left: 0;
	color: black;
/*	margin-top: 20px;*/
	text-decoration: underline;
	line-height: 30px;
}

#deets {
	font-size: 20px;
	font-family: Helvetica;
	text-align: left;
	position: relative;
	left: 0;
	margin-left: 20px;
	line-height: 25px;
}

#ft {
    width: 90%;
    height: 100%;
    /* background-color: blue; */
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    overflow: scroll;
    margin-left: 200px;
    margin-top: 183px;
}

#words {
	width: 60%;
	height: 100%;
	background-color: white;
	position: relative;
	right: 0;
	bottom: 0;
	display: inline-block;
}

/*#time {
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bolder;
	text-align: left;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 20px;
	background-color: orange;
	width: auto;
	height: 30%;
	z-index: 2;
	overflow: scroll;
}*/

hr1 {
	font-size: 30px;
	font-family: Helvetica;
	font-weight: bolder;
	text-align: left;
	position: relative;
	left: 0;
	color: black;
}

hr2 {
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bolder;
	text-align: left;
	position: relative;
	left: 0;
	color: black;
}

p {
	font-size: 16px;
	font-family: Helvetica;
	text-align: left;
	position: relative;
	left: 0;
	color: black;
}

#air {
	margin: 20px;
	position: relative;
	display: inline-block;
}

#gold {
	margin: 20px;
	position: relative;
	display: inline-block;
}

#world {
	margin: 20px;
	position: relative;
	display: inline-block;
}

#fetch {
	margin: 20px;
	position: relative;
	display: inline-block;
}

#spike {
	margin: 20px;
	position: relative;
	display: inline-block;
}


