.button {
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    transition: all 2s;
    font-family: "Old London", serif;
    font-weight: bold;
    line-height: 200px;
    color: white;
    text-align: center;
}

.button:hover {
    width: 300px;
    height: 300px;
    background-color: black;
    font-family: "Old London", serif;
    line-height: 300px;
    font-size: 100px;
}

p {
    font-size: 40px;
    line-height: 20px;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        color: black;
    }
    20% {
        color: gray;
    }
    60% {
        color: white;
    }
    100% {
        color: black;
    }
}

.clock {
    width: 200px;
    height: 200px;
    border: dotted 5px;
    border-radius: 200px;
    position: relative;
    animation-name: myclock;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.seconds {
    width: 200px;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 98px;
}

@keyframes myclock {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}