h1 {
    font-family: "Didot", "serif";
    font-size: 100px;
    text-align: left;
    margin-top: .26in;
    padding-left: .5in;
}


.boxTwo {
    height: 50px;
    width: 900px;
    position: absolute;
    display:inline-block;
}

.meri {
    background-image: url(img/flag.png);
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 153px;
    margin-left: .5in;
}

.meriInfo {
    margin-left: 250px;
    position: absolute;
    display: inline-block;
    font-family: "Verdana", "sans-serif";
    text-decoration: none;
}

.boxOne {
    height: 50px;
    width: 900px;
    position: relative;
    display:inline-block;
    margin-top: 2in;
}

.milk {
    background-image: url(img/cookie.png);
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 153px;
    margin-left: .5in;
    /*margin-top: 2in;*/
}

.milkInfo {
    margin-left: 250px;
    position: absolute;
    display: inline-block;
    font-family: "Verdana", "sans-serif";
    text-decoration: none;
    /*margin-top: 2in;*/
}

a {
    text-decoration: none;
    color: red;
    font-family: "Verdana", "sans-serif";
    z-index: 10;
}

a:hover {
    background-color: red;
    color: white;
}

h2:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

.homepage:hover{
    background-color: red; 
}

.homepage {
    position: fixed;
    margin-left: 9.9in;
    display: inline-block;
    bottom: .5in;
    width: 280px;
    font-size: 15px;
    background-color: white;
    text-align: center;
    line-height: 10px;
    z-index: 2;
}

img {
    position: absolute;
    display: in-block;
    margin-right: .5in;
}

.rightBox {
    position: absolute;
    width: 300px;
    height: 700px;
    margin-left: 9.8in;
    margin-right: 1in;
    margin-top: -2in;
    top: 380px;
    /*background-color: red;*/
    font-family: "Didot", "serif";
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}

.feature {
    /*background-image: url(img/thumbnail.jpg);*/
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: blue;
    margin-top: 30px;
    margin-left: -175px;
    border: solid black;
    overflow: hidden;
}

.feature:hover {
    cursor:pointer;
}

.catalog {
    width: 250px;
    height: 300px;
    padding: 25px;
    margin-top: 75px;
    font-family: "Didot", "sans-serif";
    font-size: 40px;
}