/*body {*/
/*    background-color: yellow;*/
/*}*/

h1 {
    font-family: "Didot", "serif";
    font-size: 100px;
    text-align: left;
    margin-top: .26in;
    padding-left: .5in;
}

.boxOne {
    height: 50px;
    width: 900px;
    position: relative;
}

.ghost {
    background-image: url(img/ghost.jpg);
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: .5in;
}

.booInfo {
    margin-left: 250px;
    position: absolute;
    display: inline-block;
    font-family: "Verdana", "sans-serif";
    text-decoration: none;
}

a {
    text-decoration: none;
    color: red;
    font-family: "Verdana", "sans-serif";
}

a:hover {
    background-color: red;
    color: white;
}

h2:hover {
    cursor:pointer;
    background-color: red;
    color: white;
}

.homepage:hover{
    background-color: red; 
}

.boxTwo {
    height: 50px;
    width: 900px;
    position: relative;
    display: inline-block;
}

.blond {
    background-image: url(img/blond.png);
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: .5in;
    margin-top: 2in;
}

.blondInfo {
    margin-left: 245px;
    margin-top: 2in;
    position: absolute;
    display: inline-block;
    font-family: "Verdana", "sans-serif";
    text-decoration: none;
}

.boxThree {
    height: 50px;
    width: 900px;
    position: relative;
    display: inline-block;
}

.bike {
    background-image: url(img/bicycle.png);
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 104px;
    margin-left: .5in;
    margin-top: 4in;
}

.bikeInfo {
    margin-left: 245px;
    margin-top: 4in;
    margin-bottom: 50px;
    display: inline-block;
    font-family: "Verdana", "sans-serif";
    text-decoration: none;
    position: absolute;
    height: 200px;
}

.homepage {
    position: fixed;
    margin-left: 9.9in;
    display: inline-block;
    margin-top: 225px;
    width: 280px;
    font-size: 15px;
    background-color: white;
    text-align: center;
    line-height: 10px;
    z-index: 2;
}

img {
    position: absolute;
    display: in-block;
    margin-right: .5in;
}

.rightBox {
    position: absolute;
    width: 300px;
    height: 500px;
    margin-left: 9.8in;
    margin-right: 1in;
    margin-top: -2in;
    /*background-color: red;*/
    font-family: "Didot", "serif";
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}

.feature {
    /*background-image: url(img/thumbnail.jpg);*/
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: blue;
    margin-top: 30px;
    margin-left: -175px;
    border: solid black;
    overflow: hidden;
}

.feature:hover {
    cursor:pointer;
}

.catalog {
    width: 250px;
    height: 300px;
    padding: 25px;
    margin-top: 75px;
    font-family: "Didot", "sans-serif";
    font-size: 40px;
}