@font-face {
    font-family: "Helvetica Rounded Black";
    src: url('fonts/HelveticaRounded-Black.ttf');
}

@font-face {
    font-family: "Helvetica Rounded Bold";
    src: url('fonts/HelveticaRounded-Bold.ttf');
}


html, body {
	margin: 0;
	padding: 0;

}

body {
	background-color: white;
	height: 100%;
	width: 100%;
}

.header {
	width: 100%;
	height: 120px;
	background-color: #ff6138;
	position: fixed;
	z-index: 3;
}

h1 {
	color: white;
	text-align: left;
	margin-left: 50px;
	margin-top: 25px;
	line-height: 40px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
	font-size: 48px;
	position: fixed;
	letter-spacing: .5px;
}

h2 {
	color: white;
	text-align: left;
	margin-left: 50px;
	margin-top: 45px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
	font-size: 48px;
	position: fixed;
	letter-spacing: -2.5px;
}

#page {
	width: 100%;
	height: 75%;
	position: fixed;
	width: 66.66%;
	right: 0;
	background-color: white;
	overflow: scroll;
	z-index: 3;
	margin-top: 135px;
}

p {
	color: black;
	margin-left: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
	font-size: 12px;
}

#start {
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}

#start:hover {
	color: #ff6138;
	cursor: pointer;
}

#begin {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#yesthat {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#gasp {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#lost {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#one {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}

#stare {
	display: none;
	color: black;
	margin-left: 40px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}

#stare:hover {
	color: #ff6138;
	cursor: pointer;
}

#notice {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#jump {
	display: none;
	color: black;
	margin-left: 40px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}

#jump:hover {
	color: #ff6138;
	cursor: pointer;
}

#air {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#closer {
	display: none;
	color: black;
	margin-left: 40px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}

#closer:hover {
	color: #ff6138;
	cursor: pointer;
}

#squat {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

/*#gaspii {
	display: none;
	color: black;
	margin-left: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#lostii {
	display: none;
	color: black;
	margin-left: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}*/

#two {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}


#smack {
	display: none;
	color: black;
	margin-left: 40px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}

#smack:hover {
	color: #ff6138;
	cursor: pointer;
}

#heck {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#wave {
	display: none;
	color: black;
	margin-left: 40px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}

#wave:hover {
	color: #ff6138;
	cursor: pointer;
}

#smiles {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#stretch {
	display: none;
	color: black;
	margin-left: 40px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}

#stretch:hover {
	color: #ff6138;
	cursor: pointer;
}

#sniffs {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}


#three {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}


#poke {
	display: none;
	color: black;
	margin-left: 40px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}

#poke:hover {
	color: #ff6138;
	cursor: pointer;
}

#fade {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#pet {
	display: none;
	color: black;
	margin-left: 40px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}

#pet:hover {
	color: #ff6138;
	cursor: pointer;
}

#bliss {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#four {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#fourii {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}

#return {
	display: none;
	color: black;
	margin-left: 40px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}

#return:hover {
	color: #ff6138;
	cursor: pointer;
}

#cry {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#cryii {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#cryiii {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#take {
	display: none;
	color: black;
	margin-left: 40px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Black", "Helvetica", sans-serif;
}

#take:hover {
	color: #ff6138;
	cursor: pointer;
}

#happy {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;
}

#end {
	display: none;
	color: black;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Helvetica Rounded Bold", "Helvetica", sans-serif;

}

.doge {
	background-color: black;
	width: 33.33%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	text-align: center;
	display: inline-block;
}

img {
	width: 100%;
	height: auto;
}

#doge {
	display: none;
	border: 5px;
	margin: 200px 60px;
	width: 200px;
	height: 218px;
	position: absolute;
	z-index: 6;
	background-image: url(img/doge.png);
	text-align: center;
	/*background-position-y: -230px for tears*/
	/*background-position-y: -255px for happy*/
}

#heart {
	display: none;
	border: 5px;
	margin: 450px auto;
	width: 175px;
	height: 30px;
	position: relative;
	margin-bottom: 20%;
	z-index: 5;
	background-image: url(img/heart.png);
	text-align: center;
}




